body {
  font-family: 'Roboto', sans-serif;
}

.address {
  font-style: normal;
}

:root {
  --header-color: #ffffff;
  --effective-solutions-color: #2f303a;
}

.list {
  list-style: none;
}

.logo-studio,
.logo-web {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

/*-------Reset-------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/*-------------------*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-connect {
  margin-left: auto;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
}

.header-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail {
  margin-right: 50px;
}

.header-item {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

/*Логотип*/

.logo-studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-studio-white {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header {
  color: var(--header-color);
}

/*.header-nav {
}*/
/*.header-list : {
}

.header-list : {
}*/
/*.header-item {
}*/

.header-item-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-list :focus {
  color: #2196f3;
}
.header-list :hover {
  color: #2196f3;
}

/*.header-link {
}*/

.header-link :hover {
  color: #2196f3;
}
.header-link :focus {
  color: #2196f3;
}

.header-mail,
.header-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail :hover {
  color: #2196f3;
}
.header-mail :focus {
  color: #2196f3;
}

.effective-solutions {
  background-color: var(--effective-solutions-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.effective-solutions-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.order-service-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*Подход к работе*/

.methods {
  color: var(--header-color);
}
.methods-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

/*.methods-list:first-child {padding-left: 0px;}


/*.methods-items {
}*/

.methods-h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  padding-right: 30px;
}
.methods-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-right: 30px;
}

/*Чем мы занимаемся*/

.what-are-we-doing {
  color: var(--header-color);
}
.what-are-we-doing-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.what-are-we-doing-list {
  display: flex;
}

.what-are-we-doing-items {
  padding-right: 30px;
  margin-bottom: 94px;
}

/*Наша команда*/

.our-team {
  background: #f5f4fa;
}
.our-team-h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}

.our-team-list {
  display: flex;
  padding-bottom: 94px;
}

.our-team-items {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 59px;
  padding-right: 59px;
}
.our-team-job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

/*Футер*/

.address-list-mail-li :hover {
  color: #2196f3;
  cursor: pointer;
}
.address-list-mail-li :focus {
  color: #2196f3;
  cursor: pointer;
}

.address-list-tel-li :hover {
  color: #2196f3;
  cursor: pointer;
}

.address-list-tel-li :focus {
  color: #2196f3;
  cursor: pointer;
}

.address-list-addres-li :hover {
  color: #2196f3;
  cursor: pointer;
}

.address-list-addres-li :focus {
  color: #2196f3;
  cursor: pointer;
}

.footer {
  background-color: #2f303a;
}
.address {
  padding-bottom: 60px;
}
.address-list {
  margin-top: 20px;
}

.address-list-addres {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-addres-li {
  padding-bottom: 9px;
}
.address-list-mail-li {
  padding-bottom: 9px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Портфолио*/

.project {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filter-buttons-li :hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.filter-buttons-li :focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.filter-buttons-li {
  padding-right: 8px;
}

.filter-buttons-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-buttons {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 34px;
}

.project-items {
  color: var(--header-color);
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-items {
  margin-bottom: 30px;
}

.project-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.project-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}
